div {
  /* border: 1px solid var(--dark-gray); */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--blue-bg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  max-width: 350px;
  border: 2px solid var(--dark-gray);
}
.backIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 34px;
  height: 34px;
}
.backIcon div {
  width: 100%;
  height: 100%;
  border: 2px solid var(--dark-gray);
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige-bg);
}

a {
  text-decoration: none;
  color: black;
}

.heroLookBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  position: relative;
  background-color: var(--lightBlue-bg);
  gap: 10px;
}
.nameBox {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 1.6rem;
  width: 150px;
}
.nameBox span {
  font-size: 0.8rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 2.5rem;
  height: 1.2rem;
  margin-left: 5px;
  text-align: center;
}
.nameBox input {
  width: 100px;
  border: none;
  text-align: center;
}

.menuTab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--beige-bg);
}
.menuTab div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-gray);
  border-right-width: 0;
}

.menuTab__head {
  border-left-width: 0 !important;
}
.menuTab input:checked + div {
  background-color: var(--pink-bg);
  font-weight: bold;
}
.menu__main {
  height: 430px;
  background-color: var(--lightBlue-bg);
}

.menu__main > div {
  padding: 10px;
}

.menu__main input:checked + div {
  outline: 3px solid var(--pink-bg);
  z-index: 10;
  position: relative;
}

.menu__main input:checked + div::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 2px solid var(--dark-gray);
}
.menu__main input:checked + div {
  border: 2px solid var(--dark-gray);
}

.headShape__body,
.hairShape__body,
.bodyShape__body,
.accType {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.toneColor__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.colorContainer {
  border: 1px solid var(--dark-gray);
}
.colorContainer div {
  border: 1px solid var(--dark-gray);
  /* border-left-width: 0; */
}

.hairColor__table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bodyColor__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.toneColor__table div,
.hairColor__table div,
.bodyColor__table div {
  height: 30px;
}

input[type="radio"] {
  display: none;
}

.eachCustom label div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasDiv {
  background-color: var(--beige-bg);
  border: 2px solid var(--dark-gray);
}

.footer {
  background-color: var(--lightBlue-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--dark-gray);
  height: 60px;
}
.submitBtn {
  background-color: var(--pink-bg);
  width: 95%;
  height: 75%;
  border-radius: 50px;
  font-weight: bold;
  font-size: 0.9rem;
}

.eachTitle {
  margin-bottom: 6px;
}
.headShape__title,
.hairShape__title,
.bodyShape__title {
  margin-top: 20px;
}

input[type="text"]:focus {
  outline: 2px solid var(--pink-bg);
}
